<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <title>Your accounts</title>
</head>

<body>
  
  <div id="app" v-cloak>
    
    <header
    class="d-flex flex-column justify-content-between  gap-3 align-items-center flex-lg-row justify-content-md-around">
    <div class="d-flex flex-column flex-lg-row align-items-center">
        <h2 class="">Mindhub Brothers Bank</h2>
        <img class="imgicon" src="./images/banco.png" alt="">
    </div>
    <nav class="d-flex flex-column justify-content-end flex-lg-row align-items-center gap-3 gap-md-4 m-2">
        <a class=" anchorfav" href="#"><span></span>Accounts <span class="ms-2">|</span></a>
        <a class=" anchors" href="./cards.html">Cards <span class="ms-2">|</span></a>
        <a class="anchors" href="#">Loans <span class="ms-2">|</span></a>
        <a class="anchors text-info" href="./transfers.html">Transactions <span class="ms-2">|</span></a>
        <button type="button" v-on:click="logout" class="button rounded-5 p-2"><span><img class="imgnav "
                    src="./images/exit.png" alt=""></span></button>
    </nav>


</header>

    <main class=" d-flex flex-column align-items-center gap-5">
      <section class="d-flex flex-column align-items-center m-3 ">
        <h1 class="p-1 ms-3 fw-semibold text-dark">Welcome {{client.firstName}}</h1>
      </section>

      <section class="sectionaccounts d-flex flex-column align-items-center">
        <h3 class="borderh2">Your Accounts</h3>
      
      
      <div class="d-flex flex-wrap align-items-center justify-content-center gap-5 mt-5">
        
        <template v-if="accounts.length > 0" v-for=" account of accounts " :key="accounts.id">

            <article class="article-wrapper col-8 col-sm-8 col-md-6 col-lg-4 gap-2">
                <div class="project-info">
                  <div class="flex-pr">
                    <div class="project-title fs-4 text" v-cloak>Account Number : {{account.number}}</div>
                      <div class="project-hover">
                        <a v-bind:href="'./account.html?id=' + account.id"><svg style="color: black;" width="2em" height="2em" color="black" stroke-linejoin="round" stroke-linecap="round" viewBox="0 0 24 24" stroke-width="2" fill="none" stroke="currentColor"><polyline points="12 5 19 12 12 19"></polyline></svg></a>
                        </div>
                      </div>
                      <div class="types">
                        <span style=" color: black;" class="project-type fs-5 text" v-cloak>Amount : {{ formatter.format(account.balance)}}</span>
                        <span class="project-type" v-cloak>Creation Date : {{account.creationDate}}</span>
                    </div>
                </div>
            </article>

        </template>

        <template v-else="">
          <h3>You do not have accounts</h3>
        </template>

      </section>

        <button v-if="accountsLength < 3" type="button" v-on:click="createAccount" class="buttoncreate  p-2"> CREATE ACCOUNT </button>


        <section class="d-flex flex-column align-items-center col-12 gap-5 p-4">

          <h3 class="borderh2">Your Loans</h3>

        <template v-if="loans.length > 0" v-for=" loan of loans ">

          <article class="article-wrapper articleloans col-12 col-md-8 col-lg-6 gap-2">
            <div class="project-info">
                <div class="flex-pr">
                    <div class="project-title project-loans fs-4 text " v-cloak>Loan {{loan.name}}</div>

                </div>
                <div class="types">
                    <span  style=" color: black;" class="project-type project-type-loans fs-6 text"  v-cloak>Amount : {{ formatter.format(loan.amount) }}</span>
                    <span class="project-type fs-6 text project-type-loans" v-cloak>Payments : {{loan.payments}} </span>
                </div>
            </div>
        </article>

        </template>

        <template v-else="">
          <h3>You do not have loans</h3>
        </template>


        </section>

      </div>
    </div>
        

    <div id="carouselExampleIndicators" class="carousel slide mb-3">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active d-item">
          <img src="./images/people.jpg" class="d-block w-100 d-img" alt="slider 1">
          <div class="carousel-caption top-1 mt-4">
              <p class="mt-5 fs-3 text-uppercase"> International Banking
                  Imagine a Bank That Cares About You, Wherever You Are</p>
          </div>
        </div>
        <div class="carousel-item d-item">
          <img src="./images/super.jpg" class="d-block w-100 d-img" alt="slider 2">
          <div class="carousel-caption top-1 mt-0">
              <p class="mt-5 fs-3 text-uppercase "> International Premier Checking
                  Higher Interest Earnings & Competitive Rates with a U.S.-based account</p>
          </div>
        </div>
        <div class="carousel-item d-item">
          <img src="./images/girl.jpg" class="d-block w-100 d-img" alt="slider 3">
          <div class="carousel-caption top-1 mt-4 ">
              <p class="mt-5 fs-3 text-uppercase "> Buying a home within your comfort zone</p>
          </div>
        </div>
        <div class="carousel-item d-item">
          <img src="./images/girlshopping.jpg" class="d-block w-100 d-img" alt="slider 4">
          <div class="carousel-caption top-1 mt-4">
              <p class="mt-5 fs-3 text-uppercase "> 6 simple steps to jump-start your emergency fund</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

          <article class="articleaccounts d-flex flex-column align-items-center p-3" >

            <h2 class="text-dark">Choose the card that works for you</h2>

            <section class="d-flex flex-column align-items-center flex-xl-row gap-5">

              <section class="sectioncards d-flex flex-column align-items-center">
                <div>
                  <p class="pricecard">$200</p>
                  <p class="text-danger">Online bonus offer</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                  <p class="text-center">No annual fee</p>
                  <img class="imgcard" src="./images/card-red.png" alt="">
                  <p class="text-center">Customized Cash Rewards</p>
                  <a class="anchorarticle" href="">3% cash back in the category of your choice ></a>
                </div>
                
              </section>

              <section class="sectioncards d-flex flex-column align-items-center">
                <div>
                  <p class="pricecard">$200</p>
                  <p class="text-danger">online bonus offer</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                  <p class="text-center">No annual fee</p>
                  <img class="imgcard" src="./images/card-grey.png" alt="">
                  <p class="text-center">Unlimited Cash Rewards</p>
                  <a class="anchorarticle" href="">Unlimited 1.5% cash back on all purchases ></a>
                </div>
              </section>

              <section class="sectioncards d-flex flex-column align-items-center">
                <div>
                  <p class="pricecard">25,000</p>
                  <p class="text-danger">online bonus points offer</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                  <p class="text-center">No annual fee</p>
                  <img class="imgcard " src="./images/card-blue.jpg" alt="">
                  <p class="text-center">Travel Rewards</p>
                  <a class="anchorarticle" href="">Unlimited 1.5% points for every $1 spent on all purchases ></a>
                </div>
              </section>
              <section class="sectioncards d-flex flex-column align-items-center mb-4">
                <div>
                  <p class="pricecard text-center">0%</p>
                  <p class="text-danger">intro APR offer</p>
                </div>
                <div class="d-flex flex-column align-items-center">
                  <p class="text-center">No annual fee</p>
                  <img class="imgcard" src="./images/card-white.png" alt="">
                  <p class="text-center">BankAmericard</p>
                  <a class="anchorarticle" href="">Intro APR offer for 18 billing cycles ></a>
                </div>
              </section>
            </section>

          </article>


          <section class="sectiondivs d-flex flex-column align-items-center flex-lg-row justify-content-around gap-3 p-4 ">
            <div class="div-contact">
              <a href="https://www.google.com.ar/maps/@-34.6144254,-58.4059338,15z?entry=ttu"><img src="./images/location.png" alt=""></a>
              <p>Branches and ATMs</p>
              <p>Always close to you</p>
            </div>

            <div class="div-contact">
              <img src="./images/contact.png" alt="">
              <p>Customer Supports</p>
              <p class="text-center">Contact us</p>
            </div>

            <div class="div-contact">
              <img src="./images/information.png" alt="">
              <p class="text-center">Urgent help</p>
              <p>When you need it</p>
            </div>
          </section>

    </main>

    <footer class="d-flex flex-column align-items-center flex-lg-row justify-content-lg-between gap-2 p-3">
      <p class="text-center mb-0  text-light"> Mindhub Brothers - 2023</p>
      <div class="d-flex flex-column align-items-center mt-3">
        <p class="text-light">Contact Us</p>
        <p class="text-light">Director: Priscila Araujo</p>
        <a class="cel " href="tel:+1126360835">Cel: 1126360835</a>
      </div>

      <div class="d-flex flex-column align-items-center ">
          <p class="text-light">Connect with us</p>
          <div>
            <a href="https://www.instagram.com/"><img class="imgredes" src="./images/insta.png" alt=""></a>
            <a href="https://web.whatsapp.com/"><img class="imgredes" src="./images/wpp.png" alt=""></a>
            <a href="https://www.facebook.com/"><img class="imgredes" src="./images/face.png" alt="" ></a>
          </div>
      </div>
  </footer>



  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./accounts.js"></script>
</body>

</html>