<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <title>Cards</title>
</head>
<body>

    <header
  class="d-flex flex-column justify-content-between  gap-3 align-items-center flex-md-row justify-content-md-around">
  <h2 class="p-1">Mindhub Brothers Bank</h2>
  <nav class="d-flex flex-wrap justify-content-center flex-sm-row align-items-center gap-2 flex-md-row gap-md-4">
      <a class="text-primary " href="./accounts.html"><span><img class="imgnav me-2" src="./images/accounts.png"
                  alt="accounts"></span>Accounts <span class="ms-2">|</span></a>
      <a class="anchorpaint text-primary " href="#">Cards <span class="ms-2">|</span></a>
      <a class="text-primary " href="">Loans <span class="ms-2">|</span></a>
      <a class="text-primary " href="">Transactions <span class="ms-2">|</span></a>
      <img class="imgnav " src="./images/exit.png" alt="exit">
  </nav>
</header>

<main>

    <section class="d-flex flex-column align-items-center justify-content-around gap-4">
      
      <section class="sectioncards1 d-flex flex-column flex-lg-row align-items-center justify-content-around p-3">
        <h1 class="h1cards">Your Cards</h1>
        <img class="imgilust" src="./images/3588982-removebg-preview.png" alt="">
      </section>
        

        <div id="app" class="d-flex flex-column align-items-center gap-5 p-5">
            <h3>CREDIT CARDS</h3>
            <section class="d-flex flex-column flex-lg-row gap-5">
            <template v-for=" card of cardCredit" >
                <div class="card" >
                  <div class="card__front card__part d-flex flex-column gap-2" v-bind:class="getCardColor(card)">
                    <div class="d-flex justify-content-between">
                        <img class="card__front-square card__square" src="./images/chipp.jpg">
                        <div>
                          <p class="cardtype card__info">{{card.type}} CARD</p>
                          <p class="card__info text-end">{{card.color}}</p>
                        </div>
                    </div>
                    <p class="card_numer m-0">{{card.number}}</p>
                    <div class="divdate card__space-25 d-flex">
                      <p class="dates card__info">{{ card.formattedDate }} </p>
                      <p class="dates card__info"> {{card.formattedFutureDate}}</p>
                    </div>
                    <div class="card__space-75">
                      <p class="cardholder card__info">{{card.cardholder}}</p>
                    </div>
                    
                  </div>
                  
                  <div class="card__back card__part" v-bind:class="getCardColor(card)">
                    <div class="card__black-line"></div>
                    <div class="card__back-content">
                      <div class="card__secret">
                        <p class="card__secret--last">{{card.cvv}}</p>
                      </div>
                      <img class="card__back-square card__square" src="./images/chipp.jpg">
                      
                    </div>
                  </div>
                  
                </div>

              </template>
          </section>
            
                
                  <h3>DEBIT CARDS </h3>
                  <section >
                    <template v-for="card of cardDebit">
                      <div class="card" >
                        <div class="card__front card__part d-flex flex-column gap-2" v-bind:class="getCardColor(card)">
                          <div class="d-flex justify-content-between">
                              <img class="card__front-square card__square" src="./images/chipp.jpg">
                              <div>
                                <p class="cardtype card__info">{{card.type}} CARD</p>
                                <p class="card__info text-end">{{card.color}}</p>
                              </div>
                          </div>
                          <p class="card_numer m-0">{{card.number}}</p>
                          <div class="divdate card__space-25 d-flex">
                            <p class="dates card__info">{{ card.formattedDate }} </p>
                            <p class="dates card__info">- {{card.formattedFutureDate}}</p>
                          </div>
                          <div class="card__space-75">
                            <p class="cardholder card__info">{{card.cardholder}}</p>
                          </div>
                          
                        </div>
                        
                        <div class="card__back card__part" v-bind:class="getCardColor(card)">
                          <div class="card__black-line"></div>
                          <div class="card__back-content">
                            <div class="card__secret">
                              <p class="card__secret--last">{{card.cvv}}</p>
                            </div>
                            <img class="card__back-square card__square" src="./images/chipp.jpg">
                            
                          </div>
                        </div>
                        
                      </div>
                  </template>
                </section>
            </div>
        </section>

        <section class="sectiondivs d-flex flex-column align-items-center flex-lg-row justify-content-around gap-3 p-4">
          <div class="div-contact">
            <a href="https://www.google.com.ar/maps/@-34.6144254,-58.4059338,15z?entry=ttu"><img src="./images/location.png" alt=""></a>
            <p>Branches and ATMs</p>
            <p>Always close to you</p>
          </div>

          <div class="div-contact">
            <img src="./images/contact.png" alt="">
            <p>Customer Supports</p>
            <p class="text-center">Contact us</p>
          </div>

          <div class="div-contact">
            <img src="./images/information.png" alt="">
            <p class="text-center">Urgent help</p>
            <p>When you need it</p>
          </div>
        </section>

</main>


    
<footer class="d-flex flex-column align-items-center flex-lg-row justify-content-lg-between gap-2 p-3">
    <p class="text-center mb-0  text-light"> Mindhub Brothers - 2023</p>
    <div class="d-flex flex-column align-items-center ">
      <p class="text-light">Contact Us</p>
      <p class="text-light">Director: Priscila Araujo</p>
      <a class="cel" href="tel:+1126360835">Cel: 1126360835</a>
    </div>

    <div class="d-flex flex-column align-items-center ">
        <p class="text-light">Connect with us</p>
        <div>
          <a href="https://www.instagram.com/"><img class="imgredes" src="./images/insta.png" alt=""></a>
          <a href="https://web.whatsapp.com/"><img class="imgredes" src="./images/wpp.png" alt=""></a>
          <a href="https://www.facebook.com/"><img class="imgredes" src="./images/face.png" alt="" ></a>
        </div>
    </div>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="./cards.js"></script>
</body>
</html>