<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <title>Create Cards</title>
</head>
<body>

    <div id="app" v-cloak>

      <header
      class="d-flex flex-column justify-content-between  gap-3 align-items-center flex-lg-row justify-content-md-around">
      <h2 class="p-1">Mindhub Brothers Bank</h2>
      <nav class="d-flex flex-column justify-content-end flex-lg-row align-items-center gap-3 gap-md-4 m-2">
          <a class=" text-primary " href="./accounts.html"><span><img class="imgnav me-2" src="./images/accounts.png"
                      alt=""></span>Accounts <span class="ms-2">|</span></a>
          <a class="anchorpaint text-primary " href="#">Cards <span class="ms-2">|</span></a>
          <a class="text-primary " href="#">Loans <span class="ms-2">|</span></a>
          <a class="text-primary " href="#">Transactions <span class="ms-2">|</span></a>
          <button type="button" v-on:click="logout" class="button rounded-5 p-2"><span><img class="imgnav " src="./images/exit.png" alt=""></span></button>
      </nav>
    
    
    </header>

    <main class="d-flex flex-column justify-content-center align-items-center"> 

        <section class="formulario d-flex flex-column align-items-center gap-5">
          <h1>Request your new card!</h1>
            <select v-model="selectedCardType" class="form-select" aria-label="Default select example">
              <option value="" disabled>Choose card type</option>
                <option v-for="type of cardType" :key="type" :value="type">{{ type }}</option>
              </select>

              <select v-model="selectedCardColor" class="form-select" aria-label="Default select example">
                <option value="" disabled>Open this select menu</option>
                <option v-for="color of cardColor" :key="color" :value="color">{{ color }}</option>
              </select>

            <button type="button" v-on:click="createCards" class="buttoncreate mt-3 p-2"> CREATE </button>
            
        </section>
        
        </div>

    </main>

    <footer class="d-flex flex-column align-items-center flex-lg-row justify-content-lg-between gap-2 p-3">
        <p class="text-center mb-0  text-light"> Mindhub Brothers - 2023</p>
        <div class="d-flex flex-column align-items-center ">
          <p class="text-light">Contact Us</p>
          <p class="text-light">Director: Priscila Araujo</p>
          <a class="cel" href="tel:+1126360835">Cel: 1126360835</a>
        </div>
    
        <div class="d-flex flex-column align-items-center ">
            <p class="text-light">Connect with us</p>
            <div>
              <a href="https://www.instagram.com/"><img class="imgredes" src="./images/insta.png" alt=""></a>
              <a href="https://web.whatsapp.com/"><img class="imgredes" src="./images/wpp.png" alt=""></a>
              <a href="https://www.facebook.com/"><img class="imgredes" src="./images/face.png" alt="" ></a>
            </div>
        </div>
    </footer>


    


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="./create-cards.js"></script>
</body>
</html>