<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">
    <title>Loan</title>
</head>
<body>
    <div id="app">

        <header
            class="d-flex flex-column justify-content-between  gap-3 align-items-center flex-lg-row justify-content-md-around">
            <div class="d-flex flex-column flex-lg-row align-items-center">
                <h2 class="">Mindhub Brothers Bank</h2>
                <img class="imgicon" src="./images/banco.png" alt="">
            </div>
            <nav class="d-flex flex-column justify-content-end flex-lg-row align-items-center gap-3 gap-md-4 m-2">
                <a class=" anchors" href="./accounts.html"><span></span>Accounts <span class="ms-2">|</span></a>
                <a class=" anchors" href="./cards.html">Cards <span class="ms-2">|</span></a>
                <a class="anchorfav" href="#">Loans <span class="ms-2">|</span></a>
                <a class=" anchors" href="./transfers.html">Transactions <span class="ms-2">|</span></a>
                <button type="button" v-on:click="logout" class="button rounded-5 p-2"><span><img class="imgnav "
                            src="./images/exit.png" alt=""></span></button>
            </nav>


        </header>
        <main class="mainloan d-flex flex-column align-items-center p-2">
            <h1 class="text-dark">Request your loan!</h1>
            <section class="d-flex flex-column flex-lg-row-reverse align-items-center justify-content-center p-4">
                
                <form class="formloan d-flex flex-column gap-4">
                    <div>
                        <label for="loan" class="form-label">Type of loan</label>
                        <select @change="filterPayments" v-model="selectedName" class="form-select" aria-label="Default select example">
                            <option value="">Open this select menu</option>
                            <template v-for="loan of loans">
                                <option :value="loan.name">{{loan.name}}</option>
                            </template>
                            
                          </select>
                    </div>
                    
                    <div>
                        <label for="payment" class="form-label">Payments available</label>
                        <select v-model="selectedPayments" class="form-select" aria-label="Default select example">
                            <option value="">Open this select menu</option>
                            <template v-if="typeof loanPayments !== 'undefined' && loanPayments.length > 0" v-for="payment of loanPayments">
                                <option :value="payment">{{payment}}</option>
                            </template>
                            <template v-else>
                                <option ></option>
                            </template>

                            
                          </select>
                    </div>

                    <div class="mb-3">
                      <label for="amount" class="form-label">Amount</label>
                      <input v-model="selectedAmount"  type="text" class="form-control" id="amount">
                    </div>

                    <div>
                        <label for="exampleInputPassword1" class="form-label">Destination account</label>
                        <select v-model="selectedNumber" class="form-select" aria-label="Default select example">
                            <option value="">Open this select menu</option>
                            <template v-for="account of accounts">
                                <option :value="account.number">{{account.number}}</option>
                            </template>
                            
                          </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button v-on:click.prevent="getLoanss" type="submit" class="buttonloan btn btn-light">CREATE LOAN</button>
                    </div>
                    

                  </form>
                  <img class="imgloan" src="./images/8953473-removebg-preview.png" alt="">
            </section>
            
            
            
            
        </main>

    </div>

    <footer class="d-flex flex-column align-items-center flex-lg-row justify-content-lg-between gap-2 p-3">
        <p class="text-center mb-0  text-light"> Mindhub Brothers - 2023</p>
        <div class="d-flex flex-column align-items-center ">
            <p class="text-light">Contact Us</p>
            <p class="text-light">Director: Priscila Araujo</p>
            <a class="cel" href="tel:+1126360835">Cel: 1126360835</a>
        </div>

        <div class="d-flex flex-column align-items-center ">
            <p class="text-light">Connect with us</p>
            <div>
                <a href="https://www.instagram.com/"><img class="imgredes" src="./images/insta.png" alt=""></a>
                <a href="https://web.whatsapp.com/"><img class="imgredes" src="./images/wpp.png" alt=""></a>
                <a href="https://www.facebook.com/"><img class="imgredes" src="./images/face.png" alt=""></a>
            </div>
        </div>
    </footer>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./loan-application.js"></script>
</body>
</html>