/* ACCOUNTS */
*{
    font-family: 'Rokkitt', serif;
}

[v-cloak] {
  display: none;
}

.imgnav{
    width: 1.5rem;
}
.carousel-item{
    height: 550px;
    max-height: 550px;
}
.imgcarousel{
    object-fit: cover;
}
nav>a:hover{
  color:#0f1e5f!important;
}


header{
    background-color:white ;
    min-height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 999;
}
h1{
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.22), 1px 0px 0px 0px rgba(0,0,0,0.22), 1px 2px 0px 0px rgba(0,0,0,0.22), 2px 1px 0px 0px rgba(0,0,0,0.22), 2px 3px 0px 0px rgba(0,0,0,0.22), 3px 2px 0px 0px rgba(0,0,0,0.22), 3px 4px 0px 0px rgba(0,0,0,0.22), 4px 3px 0px 0px rgba(0,0,0,0.22), 4px 5px 0px 0px rgba(0,0,0,0.22), 5px 4px 0px 0px rgba(0,0,0,0.22), 5px 6px 0px 0px rgba(0,0,0,0.22), 6px 5px 0px 0px rgba(0,0,0,0.22), 6px 7px 0px 0px rgba(0,0,0,0.22), 7px 6px 0px 0px rgba(0,0,0,0.22), 7px 8px 0px 0px rgba(0,0,0,0.22), 8px 7px 0px 0px rgba(0,0,0,0.22);
  color: rgb(11, 11, 101);
}
main{
    background-color: #b4bce9;
    min-height: 80vh;
    padding-top: 8rem;
}
footer{
    min-height: 10vh;
    background-color:#011936;
}
.imgredes{
    width: 1.2rem;
}
.cel{
  text-decoration: none;
}
nav a{
    text-decoration: none;
    font-size: 1.2rem;
}


/* card */
.article-wrapper {
    height: 10rem;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    border-radius: 10px;
    padding: 5px;
    border: 4px solid transparent;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 8px 8px 0 0 rgb(232, 0, 0);
  }
  
  .article-wrapper:hover {
    box-shadow: 10px 10px 0 #f20707;
    -webkit-transform: translate(-20px, -20px);
    -ms-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }
  
  .article-wrapper:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .types {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: flex-start;
  }
  
  .rounded-lg {
   /* class tailwind */
    border-radius: 10px;
  }
  
  .article-wrapper:hover .project-hover {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #a6c2f0;
  }
  
  .project-info {
    padding-top: 20px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
  
  .project-title {
    font-size: 1em;
    margin: 0;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(0, 0, 0);
  }
  
  .flex-pr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .project-type {
    color: black;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 1rem;
    letter-spacing: -0.6px;
    width: 15rem;
  }
  
  .project-hover {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .container-project {
    width: 100%;
    height: 170px;
    background: gray;
  }

  /* ACCOUNT.HTML */
.table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  color: white!important;
}

th{
  background-color: rgb(67, 64, 64)!important;
}

td{
  background-color: rgb(188, 179, 179)!important;
  color: black!important;
}

.creditGreen{
  color: green!important;
}
.debitRed{
  color: red!important;
}

.articleloans{
    background-color: rgb(42, 106, 179);
    box-shadow: 0 0 0 2px rgb(11, 85, 155), 8px 8px 0 0 rgb(7, 53, 169);
    text-align: center;
}

.articleloans:hover{
    box-shadow: 10px 10px 0 #042083;
}
.project-loans{
  color: white;
  font-weight: 500;
  font-size: 2rem!important;
  
}
.project-type-loans{
  color: white!important;
  font-weight: 500;
  font-size: 1.5rem!important;
}
.imgcard{
  width: 15rem;
}
.pricecard{
  font-size: 4rem;
  color: rgb(215, 11, 11);
}
.text-danger{
  font-size: 1.2rem;
}
.anchorarticle{
  text-decoration: none;
}
.sectioncards{
  width: 16rem;
}
.div-contact{
  width: rem;
}