/* ACCOUNTS */
*{
    font-family: 'Rokkitt', serif;
}
body{
  background-color: #b4bce9!important;
}

[v-cloak] {
  display: none;
}

.imgnav{
    width: 1.5rem;
}
.imgicon{
  width: 5rem;
}
h2{
  color: white!important;
}
nav>a:hover{
  color:#66bee1!important;
}

.anchorfav{
  color:rgb(67, 199, 217)!important;
}
.anchors{
  color: white!important;
}
.anchorarticle{
  color: #093975;
}

header{
    background-color:#011936;
    min-height: 10vh;
    position: sticky;
    width: 100%!important;
}
nav{
  width: 60%;
}
h1{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  color: rgb(11, 11, 101);
}
main{
    background-color: #b4bce9!important;
    min-height: 80vh;
    padding-top: 2rem;
    width: 100%!important;
}
.button{
  background-color: rgb(138, 184, 229);
  border: rgb(138, 184, 229);
}
.articleaccounts{
  background-color: #b4bce9!important;
}
.sectiondivs{
  background-color: #fbfbfb!important;
  
}
footer{
    min-height: 10vh;
    background-color:#011936;
}
.imgredes{
    width: 1.2rem;
}
.cel{
  text-decoration: none;
  color: white;
}
nav a{
    text-decoration: none;
    font-size: 1.2rem;
}
#creditcardcontainer{
  width: 100%!important;
}

/* CAROUSEL */

.d-item{
  height: 600px!important;
}
.d-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}


/* card */
.article-wrapper {
    height: 10rem;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
    border-radius: 10px;
    padding: 5px;
    border: 4px solid transparent;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 0 2px rgb(255, 255, 255), 8px 8px 0 0 rgb(232, 0, 0);
  }
  
  .article-wrapper:hover {
    box-shadow: 10px 10px 0 #f20707;
    -webkit-transform: translate(-20px, -20px);
    -ms-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
  }
  
  .article-wrapper:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .types {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: flex-start;
  }
  
  .rounded-lg {
   /* class tailwind */
    border-radius: 10px;
  }
  
  .article-wrapper:hover .project-hover {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #a6c2f0;
  }
  
  .project-info {
    padding-top: 20px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
  
  .project-title {
    font-size: 1em;
    margin: 0;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgb(0, 0, 0);
  }
  
  .flex-pr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .project-type {
    color: black;
    font-weight: bold;
    padding: 0.3em 0.7em;
    border-radius: 15px;
    font-size: 1rem;
    letter-spacing: -0.6px;
    width: 15rem;
  }
  
  .project-hover {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 9px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .container-project {
    width: 100%;
    height: 170px;
    background: gray;
  }

  /* ACCOUNT.HTML */
.table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  color: rgb(0, 0, 0)!important;
}
table{
  width: 30rem!important;
  
}

.overflow-auto{
  height: 15rem!important;
}

th{
  background-color: rgb(255, 255, 255)!important;
  font-weight: 600!important;
}

td{
  background-color: rgb(255, 255, 255)!important;
  color: black!important;
}

.creditGreen{
  color: green!important;
}
.debitRed{
  color: red!important;
}

.articleloans{
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 8px 8px 0 0 rgb(232, 0, 0);
    text-align: center;
}

.articleloans:hover{
  box-shadow: 10px 10px 0 #f20707;
}
.project-loans{
  color: black;
  font-weight: 500;
  font-size: 2rem!important;
  
}
.project-type-loans{
  color: black!important;
  font-weight: 500;
  font-size: 1.5rem!important;
}
.imgcard{
  width: 15rem;
}
.pricecard{
  font-size: 4rem;
  color: rgb(215, 11, 11);
}
.text-danger{
  font-size: 1.2rem;
}
.anchorarticle{
  text-decoration: none;
}
.sectioncards{
  width: 16rem;
}
.div-contact{
  width: rem;
}

/* CARDS.HTML */
.card{
  width: 320px;
  height: 190px;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    perspective:600px;
    background-color: transparent;
    border: none;
    
    
  }
  
  .card__part{
    box-shadow: 1px 1px #aaa3a3;
      top: 0;
    position: absolute;
  z-index: 1000;
    left: 0;
    display: inline-block;
      width: 320px;
      height: 190px;
      background-image: url('./images/mapablanco.jpg'); 
      background-blend-mode: multiply, multiply, overlay;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 8px;
     
      -webkit-transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -moz-transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -ms-transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -o-transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  
  .card__front{
    padding: 18px;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .card__back {
    padding: 18px 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  }
  
  .card__black-line {
      margin-top: 5px;
      height: 38px;
      background-color: #303030;
  }
  
  .card__logo {
      height: 16px;
  }
  
  .card__front-logo{
        position: absolute;
      top: 18px;
      right: 18px;
  }
  .card__square {
      border-radius: 5px;
      height: 30px;
  }
  
  .card_numer {
      display: block;
      width: 100%;
      word-spacing: 4px;
      font-size: 20px;
      letter-spacing: 2px;
      color: #fff;
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
  }
  
  .card__space-75 {
      width: 75%;
      float: left;
  }
  
  .card__space-25 {
      width: 25%;
      float: left;
  }
  
  .card__label {
      font-size: 10px;
      text-transform: uppercase;
      color: rgba(255,255,255,0.8);
      letter-spacing: 1px;
  }
  
  .card__info {
      margin-bottom: 0;
      margin-top: 5px;
      font-size: 16px;
      line-height: 18px;
      color: #ffffff;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .card__back-content {
      padding: 15px 15px 0;
  }
  .card__secret--last {
      color: #303030;
      text-align: right;
      margin: 0;
      font-size: 14px;
  }
  
  .card__secret {
      padding: 5px 12px;
      background-color: #fff;
      position:relative;
  }
  
  .card__secret:before{
    content:'';
    position: absolute;
  top: -3px;
  left: -3px;
  height: calc(100% + 6px);
  width: calc(100% - 42px);
  border-radius: 4px;
    background: repeating-linear-gradient(45deg, #ededed, #ededed 5px, #f9f9f9 5px, #f9f9f9 10px);
  }
  
  .card__back-logo {
      position: absolute;
      bottom: 15px;
      right: 15px;
  }
  
  .card__back-square {
      position: absolute;
      bottom: 15px;
      left: 15px;
  }
  
  .card:hover .card__front {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
  
  }
  
  .card:hover .card__back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
  }

  .cardGold{
    background-color: rgb(201, 173, 12)!important;
  }
  .cardPlatinum{
    background-color: rgba(0, 0, 0, 0.813)!important;
  }
  .cardSilver{
    background-color: rgb(150, 141, 141)!important;
  }
  
  .pcardholder{
    width: 12rem;
  }
  .divdate{
    width: 10rem;
  }
  .cardholder{
    font-size: 1.2rem!important;
  }
  .dates{
    font-size: 0.8rem!important;
  }
  .cardtype{
    font-size: 1.5rem!important;
  }

  .imgarticle{
    width: 30rem!important;
  }
  .card-body{
    width: 38rem;
  }
  .imgilust{
    width: 12rem;
  }
  .divimg{
    width: 30rem;
  }
  .h1cards{
    box-shadow: none;
  }
  .sectioncards1{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 10rem;
  }

  .borderh2{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius: 5rem;
    padding: 1rem;
  }

  /* createcards */
  .formulario{
    width: 50%;
  }
.sectionaccounts{
  width: 100%!important;
}
.buttoncreate{
  border-radius: 2rem!important;
  background-color: rgb(9, 127, 177)!important;
  color: white;
  font-size: 1.2rem;
  border: 2px solid rgb(9, 82, 113);
}

/* CSS TRANSFER */

.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 350px;
  background-color: #355891;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  height: 25rem!important;
  padding: 2rem;
}

.message {
  color: #355891;
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #355891;
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid #355891;
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: #355891;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: white;
  border: 2px solid #355891;
  border-radius: 0px;
  box-sizing: border-box;
  color: #355891;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #355891;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #355891;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: #355891;
  background: #5f82a9;
}

.fancy:hover::before {
  width: 1.5rem;
  background: #355891;
}

.fancy:hover .text {
  color: white;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

.imgtransfer{
  width: 28rem;
}

@media (max-width: 500px){
  .imgtransfer{
    width: 20rem;
  }

}

/* LOAN-APPLICATION.HTML 
FORM */

.formloan{
  border: 2px solid #355891;
  border-radius: 2rem;
  padding: 3rem;
  width: 30rem;
  background-color: #355891;
  color: white;
  font-size: 1.2rem;
}
.mainloan{
  padding: 0;
}
.buttonloan{
  width: 25%;
}
.imgloan{
  width: 30rem;
}
@media (max-width: 560px){
  .formloan{
    width: 20rem;
  }
  .imgloan{
    width: 20rem;
  }

}