
main{
    min-height: 86rem;
    background-color: #b4bce9!important;
    font-family: 'Lora', serif;
    font-family: 'Mulish', sans-serif;
}
.buttonmanager{
  background-color: rgb(138, 184, 229);
  border: rgb(138, 184, 229);
  width: 5rem;
}
.imgnav{
  width: 1.5rem;
}
h1{
    font-size: 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
    color: rgb(11, 11, 101)!important;
}
.nav-link{
    font-size: 1rem;
}

header{
    background-color:white ;
    min-height: 10vh;
    font-family: 'PT Serif', serif;
}
.imglogo{
    height: 5rem;
}
.imgtarjeta{
    width: 2rem;
}
footer{
    background-color: #344966;
    min-height: 4vh;
    font-family: 'PT Serif', serif;
}
/* .textfooter{
  text-align: center;
} */
.imgredes{
    width: 1rem;
}

.spanraya{
    height: rem;
}

